body {
  background-color: rgba(0, 0, 0, 0.582);
  width: 80vw;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 5rem;
}
.accueil {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  justify-content: center;
  gap: 6rem;
}
.accueil button {
  width: 20vw;
  height: 65vh;
}
.accueil img {
  width: 90%;
  height: 20vh;
  object-fit: cover;
}
.accueil h3 {
  font-size: 2rem;
  height: 15vh;
}
.accueil p {
  font-size: 1.3rem;
  height: 10vh;
  font-weight: bold;
  overflow: auto;
}
.header p {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
