body {
  background-color: rgba(0, 0, 0, 0.582);
  width: 80vw;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 5rem;
}
.accueil {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  justify-content: center;
  gap: 6rem;
}
.accueil div {
  width: 20vw;
  height: 50vh;
}
.accueil img {
  width: 100%;
}
.accueil h3 {
  font-size: 2rem;
}
.accueil p {
  font-size: 1.3rem;
  height: 10vh;
  font-weight: bold;
  overflow: auto;
}
